<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ecom.mall.modules.orderitem.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="org.ecom.mall.modules.orderitem.domain.OrderItem">
            <id property="id" column="id" />
            <result property="orderId" column="order_id" />
            <result property="productId" column="product_id" />
            <result property="productName" column="product_name" />
            <result property="price" column="price" />
            <result property="num" column="num" />
            <result property="totalPrice" column="total_price" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,product_id,product_name,price,
        num,total_price
    </sql>
</mapper>