<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ecom.mall.modules.product_detail.mapper.ProductDetailMapper">

    <resultMap id="BaseResultMap" type="org.ecom.mall.modules.product_detail.domain.ProductDetail">
            <id property="id" column="id" />
            <result property="productId" column="product_id" />
            <result property="content" column="content" />
            <result property="brand" column="brand" />
            <result property="origin" column="origin" />
            <result property="city" column="city" />
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,content,brand,origin,city
    </sql>
</mapper>
